<!-- Caso já esteja concluído -->
<div class="concluded-proposal" *ngIf="isCompleted(); else proposalsList">
  <strong>Transação Concluída</strong>
  <p>Comprador: <strong>{{ completedTransaction?.receiverName }}</strong></p>
  <p>Tipo: {{ completedTransaction?.transactionType | lowercase}}</p>

  <div *ngIf="completedTransaction?.transactionType === 'TROCA' && completedTransaction?.offeredMaterial">
    <p><b>Material Oferecido:</b> {{ completedTransaction?.offeredMaterial?.title }}</p>
    <p><b>Tipo:</b> {{ completedTransaction?.offeredMaterial?.materialType }}</p>
    <p><b>Estado:</b> {{ completedTransaction?.offeredMaterial?.conservationStatus }}</p>
  </div>
</div>

<!-- Caso ainda esteja em aberto -->
<ng-template #proposalsList>
  <h2>Propostas</h2>
  <div *ngIf="isLoading">Carregando propostas...</div>
  <div *ngIf="!isLoading && proposals.length === 0">
    Nenhuma proposta disponível para este material.
  </div>

  <ul *ngIf="!isLoading && proposals.length > 0" class="proposal-list">
    <li *ngFor="let p of proposals" 
        (click)="selectProposal(p)" 
        [class.selected]="p === selectedProposal"
        class="proposal-item">
        
      <strong>{{ p.receiverName }}</strong> fez uma proposta de <b>{{ p.transactionType }}</b>
      <div *ngIf="p.transactionType === 'TROCA' && p.offeredMaterial">
        <small>
          <i>Material oferecido:</i> {{ p.offeredMaterial.title }} - {{ p.offeredMaterial.conservationStatus }}
        </small>
      </div>
    </li>
  </ul>

  <div *ngIf="selectedProposal" class="proposal-detail">
    <h4>Proposta Selecionada</h4>
    <p>Usuário: <strong>{{ selectedProposal.receiverName }}</strong></p>
    <p>Tipo: {{ selectedProposal.transactionType }}</p>

    <div *ngIf="selectedProposal.transactionType === 'TROCA' && selectedProposal.offeredMaterial">
      <p><b>Material Oferecido:</b> {{ selectedProposal.offeredMaterial.title }}</p>
      <p><b>Tipo:</b> {{ selectedProposal.offeredMaterial.materialType }}</p>
      <p><b>Estado:</b> {{ selectedProposal.offeredMaterial.conservationStatus }}</p>
    </div>

    <button class="btn btn-success" (click)="finalizeTransaction()">
      Finalizar Transação
    </button>
  </div>
</ng-template>
