<div class="detalhe-material-container">
  <div class="detalhe-material-card">
    <img
      class="detalhe-material-imagem"
      [src]="material?.photo ? apiUrl + material?.photo : apiUrl + '/images/default-photo.png'"
      [alt]="material?.title"
    />

    <div class="detalhe-material-info">
      <h2 class="detalhe-material-titulo">{{ material?.title }}</h2>
      <div class="detalhe-material-subtitulo" *ngIf="rating">
        <a [routerLink]="['/profile', rating.userId]" class="subtitulo-link">
          <span class="detalhe-material-username">{{ material?.userName }}</span>
          <span class="detalhe-material-rating">⭐ {{ rating.averageRating }}/5</span>
        </a>
      </div>
      <p class="detalhe-material-descricao">{{ material?.description }}</p>
      <div class="detalhe-material-atributos">
        <span><strong>Tipo:</strong> {{ material?.materialType }}</span>
        <span><strong>Estado de conservação:</strong> {{ material?.conservationStatus }}</span>
        <span><strong>Transação:</strong> {{ material?.transactionType }}</span>
        <span *ngIf="material?.transactionType === 'VENDA'">
          <strong>Preço:</strong> R$ {{ material?.price }}
        </span>
      </div>
      <div class="material-acoes-geral">
        <div class="detalhe-material-acoes">
          <button class="estrelaApagada" (click) = "favorite()" *ngIf="!isFavorite">⭐</button>
          <button class="estrelaAcesa" (click) = "unfavorite()" *ngIf="isFavorite">⭐</button>
        </div>
        <div class="detalhe-material-acoes" *ngIf="isOwner == true">
          <button class="botao-editar" (click) = "showModalUpdate = true">Editar material</button>
          <button class="botao-excluir" (click) = "apagarMaterial()">Excluir material</button>
        </div>
      </div>
      <div class="denuncia-menu-wrapper" (clickOutside)="showMenu = false" *ngIf="isOwner == false">
        <button class="transacao-btn" (click)="showModalTransaction = true">
          {{isDone ? 'Cancelar' : 'Realizar'}} {{ material?.transactionType | lowercase }}
        </button>
        <button class="denunciar-btn" (click)="toggleMenu()">
          Denunciar
        </button>

        <div class="denuncia-opcoes" *ngIf="showMenu">
          <a
            *ngIf="materialId !== null"
            [routerLink]="['/report']"
            [queryParams]="{ materialId: materialId }"
          >
            Denunciar Material
          </a>
          <a
            *ngIf="material?.userId"
            [routerLink]="['/report']"
            [queryParams]="{ userId: material?.userId }"
          >
            Denunciar Usuário
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="question-list-wrapper">
    <app-question-list *ngIf="materialId !== null" [materialId]="materialId"></app-question-list>
  </div>

  <div *ngIf="isOwner" class="transaction-proposals-wrapper">
    <app-transaction-proposals *ngIf="materialId !== null" [materialId]="materialId"></app-transaction-proposals>
  </div>

  <div class="modal-overlay" *ngIf="showModalUpdate">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">×</button>
      <app-update-materials (materialAtualizado)="onMaterialAtualizado($event)"></app-update-materials>
    </div>
  </div>

  <div class="modal-backdrop" *ngIf="showModalTransaction && material">
  <app-open-transaction
    [material]="material"
    [transactionType]="material.transactionType"
    [isDone]="isDone"
    (close)="closeModal()"
    (confirm)="onTransactionDone()"
    (cancel)="onCancelTransaction()"
  ></app-open-transaction>
  </div>
</div>
