<div class="vitrine-container">
  <div class="vitrine-header">
    <h2 class="vitrine-title">Nossos Produtos</h2>
    <button class="login-btn" type="button" (click)="openModal()">+ Adicionar</button>
  </div>

  <div class="vitrine-filter">
    <div>
      <label for="textFilter">Título</label>
      <textarea name="textFilter" class="textFilter" [(ngModel)]="textFilter"></textarea>
    </div>
    <div>
      <label for="typeFilter">Tipo</label>
      <select name="typeFilter" class="form-control" [(ngModel)]="typeFilter">
        <option *ngFor="let type of materialTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <div>
      <label for="conservationFilter">Estado de Conservação</label>
      <select name="conservationFilter" class="form-control" [(ngModel)]="conservationFilter">
        <option *ngFor="let type of conservationStatus" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <div>
      <label for="transactionFilter">Tipo de Transação</label>
      <select name="transactionFilter" class="form-control" [(ngModel)]="transactionFilter">
        <option *ngFor="let type of transactionTypes" [value]="type">
          {{ type }}
        </option>
      </select>
    </div>
    <div>
      <button class="login-btn" type="button" (click)="carregarMateriaisFiltrados(textFilter, typeFilter, conservationFilter, transactionFilter)">Filtrar</button>
    </div>
  </div>

  <div class="product-grid" *ngIf="isFiltered">
    <div *ngFor="let produto of materials" class="product-card" [routerLink]="['/material', produto.id]" style="cursor: pointer;">
      <img
      [src]="produto.photo ? apiUrl + produto.photo : apiUrl + 'images/default-photo.png'"
      [alt]="produto.title"
      class="product-image"
      />
      <div class="product-info">
        <h3 class="product-name">{{ produto.title }}</h3>
        <p class="product-price" *ngIf="produto.price !== null">R$ {{ produto.price }}</p>
        <p class="product-price" *ngIf="produto.price === null">{{ produto.transactionType }}</p>
      </div>
    </div>
  </div>

  <div class="product-grid" *ngIf="!isFiltered">
    <div *ngFor="let produto of materials" class="product-card" [routerLink]="['/material', produto.id]" style="cursor: pointer;">
      <img
        [src]="produto.photo ? apiUrl + produto.photo : apiUrl + '/images/default-photo.png'"
        [alt]="produto.title"
        class="product-image"
      />
      <div class="product-info">
        <h3 class="product-name">{{ produto.title }}</h3>
        <p class="product-price" *ngIf="produto.price !== null">R$ {{ produto.price }}</p>
        <p class="product-price" *ngIf="produto.price === null">{{ produto.transactionType }}</p>
      </div>
    </div>
  </div>

  <div class="modal-overlay" *ngIf="showModal">
    <div class="modal-content">
      <button class="close-btn" (click)="closeModal()">×</button>
      <app-form-materials (materialAdicionado)="onProdutoAdicionado($event)"></app-form-materials>
    </div>
  </div>
</div>
