
<div class="container my-3" style="padding: 2% 28% 2% 28%;">
    <p class="title text-center fw-bold" style="font-size: 25pt;">Log In</p>
    <div class="border border-2 p-5">
        <div class="col">
            <label for="" class="form-label fw-bold">Email</label>
            <input class="form-control" type="email" [(ngModel)]="email">
        </div>
        <div class="col">
            <label for="" class="form-label fw-bold mt-2">Senha</label>
            <input class="form-control" type="password" name="" id="" [(ngModel)]="senha">
        </div>
        <div class="col mt-3">
            <input class="btn btn-primary" type="button" value="Login" (click)="login()">
        </div>
    </div>
</div>