.app-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #4d694c;
    color: white;
    padding: 1rem 2rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
}

.logo a{
    text-decoration: none;
    color: white;
}

.nav-links a {
    color: white;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: color 0.3s ease;
}
  
.nav-links a:hover {
  color: #c8e6c9;
}

.nav-links button {
    background-color: ghostwhite;
    border-style: none;
    text-decoration: none;
    margin-left: 1.5rem;
    font-weight: 500;
    transition: background-color 0.3s ease;
    padding: 4px 8px;
    border-radius: 5px;
}
  
.nav-links button:hover {
  background-color: #d63d3d;
}