<!-- src/app/shared/header/header.component.html -->
<header class="app-header">
    <div class="logo">
        <ng-container *ngIf="isUserAuthenticated; else loggedOutLogo">
            <a routerLink="/material">StudySwap</a>
        </ng-container>
        <ng-template #loggedOutLogo>
            <a routerLink="/">StudySwap</a>
        </ng-template>
    </div>
    <div class="nav-links">
        <ng-container *ngIf="isUserAuthenticated; else loggedOutLinks">
            <a routerLink="/favorite">Meus Favoritos</a>
            <a routerLink="/material">Catálogo</a>
            <button (click)="logout()">Logout</button>
        </ng-container>
        <ng-template #loggedOutLinks>
            <a routerLink="/login">Login</a>
            <a routerLink="/register">Cadastro</a>
        </ng-template>
    </div>
</header>